{{define "form/dokodemo"}}
<a-form layout="inline">
    <a-form-item label='{{ i18n "dest-address" }}'>
        <a-input v-model.trim="inbound.settings.address"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "dest-port" }}'>
        <a-input type="number" v-model.number="inbound.settings.port"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "protocol" }}'>
        <a-select v-model="inbound.settings.network" style="width: 100px;">
            <a-select-option value="tcp,udp">{{ i18n "tcp-udp" }}</a-select-option>
            <a-select-option value="tcp">{{ i18n "tcp" }}</a-select-option>
            <a-select-option value="udp">{{ i18n "udp" }}</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}
