{{define "form/streamKCP"}}
<a-form layout="inline">
    <a-form-item label='{{ i18n "type" }}'>
        <a-select v-model="inbound.stream.kcp.type" style="width: 280px;">
            <a-select-option value="none">{{ i18n "kpc-none" }}</a-select-option>
            <a-select-option value="srtp">{{ i18n "kpc-srtp" }}</a-select-option>
            <a-select-option value="utp">{{ i18n "kpc-utp" }}</a-select-option>
            <a-select-option value="wechat-video">{{ i18n "kpc-wechat" }}</a-select-option>
            <a-select-option value="dtls">{{ i18n "kpc-dtls" }}</a-select-option>
            <a-select-option value="wireguard">{{ i18n "kpc-wireguard" }}</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "seed" }}'>
        <a-input v-model.number="inbound.stream.kcp.seed"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "mut" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.mtu"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "tti" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.tti"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "uplink-capacity" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.upCap"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "downlink-capacity" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.downCap"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "congestion" }}'>
        <a-switch v-model="inbound.stream.kcp.congestion"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "read-buffer" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.readBuffer"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "write-buffer" }}'>
        <a-input type="number" v-model.number="inbound.stream.kcp.writeBuffer"></a-input>
    </a-form-item>
</a-form>
{{end}}
