<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip='{{ i18n "loading" }}'>
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">{{ i18n "save-button" }}</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">{{ i18n "reset-button" }}</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab='{{ i18n "tab-panel-config" }}'>
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" 
                                                   title='{{ i18n "panel-ip" }}'
                                                   desc='{{ i18n "panel-ip-desc" }}' 
                                                   v-model="allSetting.webListen">
                                </setting-list-item>
                                <setting-list-item type="number" 
                                                   title='{{ i18n "panel-port" }}' 
                                                   desc='{{ i18n "panel-port-desc" }}' 
                                                   v-model.number="allSetting.webPort">
                                </setting-list-item>
                                <setting-list-item type="text" 
                                                   title='{{ i18n "panel-ssl-public" }}' 
                                                   desc='{{ i18n "panel-ssl-public-desc" }}' 
                                                   v-model="allSetting.webCertFile">
                                </setting-list-item>
                                <setting-list-item type="text" 
                                                   title='{{ i18n "panel-ssl-private" }}' 
                                                   desc='{{ i18n "panel-ssl-private-desc" }}' 
                                                   v-model="allSetting.webKeyFile">
                                </setting-list-item>
                                <setting-list-item type="text" 
                                                   title='{{ i18n "panel-url" }}' 
                                                   desc='{{ i18n "panel-url-desc" }}' 
                                                   v-model="allSetting.webBasePath">
                                </setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab='{{ i18n "tab-user-settings" }}'>
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label='{{ i18n "current-username" }}'>
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label='{{ i18n "current-password" }}'>
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label='{{ i18n "new-username" }}'>
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label='{{ i18n "new-password" }}'>
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Apply</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab='{{ i18n "tab-xray-config" }}'>
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" 
                                                   title='{{ i18n "xray-config" }}'
                                                   desc='{{ i18n "xray-config-desc" }}' 
                                                   v-model="allSetting.xrayTemplateConfig">
                                </setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab='{{ i18n "tab-telegram-settings" }}'>
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="switch" 
                                                   title='{{ i18n "enable-telegram" }}' 
                                                   desc='{{ i18n "enable-telegram-desc" }}'  
                                                   v-model="allSetting.tgBotEnable">
                                </setting-list-item>
                                <setting-list-item type="text" 
                                                   title='{{ i18n "telegram-token" }}' 
                                                   desc='{{ i18n "telegram-token-desc" }}'  
                                                   v-model="allSetting.tgBotToken">
                                </setting-list-item>
                                <setting-list-item type="number" 
                                                   title='{{ i18n "telegram-chatid" }}' 
                                                   desc='{{ i18n "telegram-chatid-desc" }}'  
                                                   v-model.number="allSetting.tgBotChatId">
                                </setting-list-item>
                                <setting-list-item type="text" 
                                                   title='{{ i18n "telegram-time" }}' 
                                                   desc='{{ i18n "telegram-time-desc" }}'  
                                                   v-model="allSetting.tgRunTime">
                                </setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="5" tab='{{ i18n "tab-other-settings" }}'>
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" 
                                                   title='{{ i18n "timezone" }}' 
                                                   desc='{{ i18n "timezone-desc" }}' 
                                                   v-model="allSetting.timeLocation">
                                </setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: '{{ i18n "reset-modal" }}',
                        content: '{{ i18n "reset-modal-desc" }}',
                        okText: '{{ i18n "ok" }}',
                        cancelText: '{{ i18n "cancel" }}',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
